<!-- <div class="container-fluid mt-4">
    <div class="row">
    <mat-card class="tabs">
        <mat-card-header>
            <mat-card-title>Payment Method</mat-card-title>
            
        </mat-card-header>
        <mat-card-content> -->
            <!-- {{paymentForm.value|json}} -->
            <!-- <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" [formGroup]="paymentForm" class="checkout">
       <div class="row">
        <span style="font-size:larger">Select your Package</span>
        <mat-radio-group formControlName="price" class="d-flex flex-row justify-content-evenly">
            <mat-radio-button value="850"> <img class="img-thumbnail" height="30" width="30" src="../../../../assets/img/coin.png"> Bronze Plan</mat-radio-button>
            <mat-radio-button value="1600"><img class="img-thumbnail" height="35" width="35" src="../../../../assets/img/jpg.webp"> Silver Plan</mat-radio-button>
            <mat-radio-button value="3000"><img class="img-thumbnail" height="35" width="35" src="../../../../assets/img/gold.webp"> Gold Plan</mat-radio-button>
        </mat-radio-group> -->
       <!-- <a class="cursor p-4 btn" (click)="addhidecard(cardText)">{{cardText}}</a> -->
        <!-- <div class="scrollable-h-50" [class.show]="!addhidecards" [class.hide]="addhidecards"> 
        <mat-radio-group formControlName="storedCard" class="p-5">
      <mat-radio-button *ngFor="let card of cards_list" class="row" [value]="card?.payment_method" (click)="storedVars(card?.payment_method,card?.customer_id)"><img class="brand-icon" *ngIf="card?.card_brand=='visa';else credit_card" src="../../../../../assets/logo/visa1.png" />
           
            <ng-template #credit_card><img class="brand-icon" src="../../../../../assets/logo/credit-card.png" /></ng-template> ending {{card?.card_last4}} - {{card?.card_exp_month}}/{{card?.card_exp_date}}

    
        </mat-radio-button>
        <span hidden><input type="text" formControlName="customerId"></span>
   
             <div class="mt-3" [class.show]="paymentForm.get('price')?.value" [class.hide]="!paymentForm.get('price')?.value">
              <button [disabled]="!paymentForm.get('price')?.touched" (click)="handlepayment()" type="submit">Pay ${{paymentForm.get('price')?.value}}</button>
              </div>
            
            </mat-radio-group>

        </div> -->
    <!-- <div > -->
<!-- [class.show]="addhidecards" [class.hide]="!addhidecards" -->
    
        <!-- <div class="mt-3" > -->
            <!-- {{paymentForm.get("customer_email")?.value|json}} -->
            <!-- <div class="form-row">
                <label for="address-info">Billing Address</label><br>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email associated with card for invoice Purposes</mat-label>
                    
                        <input matInput formControlName="customer_email"
                               type="email"
                               required
                               placeholder="Email associated with card for invoice Purposes">
                    
                </mat-form-field>
                <div id="address-info" #addressInfo></div>
                <label for="card-info">Card Info</label>
                <div id="card-info" #cardInfo></div>
                <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
            </div>
            <button [disabled]="!paymentForm.get('price')?.touched" type="submit">Pay ${{paymentForm.get('price')?.value}}</button>
       
        </div>
    </div>

       </div> 
        </form>
        </mat-card-content>
       
    </mat-card>    
    </div>
</div> -->
