

<mat-card >
    <mat-card-title-group class="theme-colors">
        <mat-card-title class="custom-heading-L text-center">About Us</mat-card-title>
    </mat-card-title-group>
    <mat-card-content mat-dialog-content>



        <div class="container my-5">
        <div class="custom-content-xs-heavy">  Welcome to KaamResume, where creating a professional resume is made easy and affordable with AI technology.</div>
            <div class="custom-subheading-L">
                Our Mission
            </div>
<div class="custom-content-xs-heavy">At KaamResume, we believe that everyone should have access to high-quality resume creation services without breaking the
bank. Traditional resume writing services can be expensive and time-consuming. Our app was born out of the desire to
provide a solution that is both cost-effective and efficient.</div>
    <div class="custom-subheading-L">
        What We Do
    </div>
    <div class="custom-content-xs-heavy">At KaamResume, we believe that everyone should have access to high-quality resume
    creation services without breaking the
    bank. Traditional resume writing services can be expensive and time-consuming. Our app was born out of the desire to
    provide a solution that is both cost-effective and efficient.</div>
    <div class="custom-subheading-L">
        Our Vision
    </div>
    <div class="custom-content-xs-heavy">While we are just starting out, our long-term vision is to become the go-to platform for anyone looking to create a
    standout resume effortlessly. We aim to continuously improve our AI technology and expand our features to cater to the
    evolving needs of job seekers worldwide.</div>
    <div class="custom-subheading-L">
        Why Choose KaamResume?
    </div>
    <div class="custom-content-xs-heavy">
     <h4 class="custom-subheading-L">Affordability:</h4> Say goodbye to exorbitant fees charged by traditional resume writing services.
    <h4 class="custom-subheading-L">Ease of Use:</h4> Our intuitive interface makes resume creation a straightforward process.
    <h4 class="custom-subheading-L">Speed:</h4> Generate a polished resume in minutes, not days.</div>
    <div class="custom-subheading-L">
        Get Started Today
    </div>
    <div class="custom-content-xs-heavy">
        Join the KaamResume community and experience a new way to create resumes. Whether you're a recent graduate, seasoned
        professional, or someone looking to switch careers, we're here to help you land your dream job.
    </div>
      <div class="m-3">
        <hr>
      </div>
      <div class=" align-items-center mt-3">
            <h2 class="font-weight-bold ">About the Creator: </h2>
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL"
            data-vanity="gsshanker3" data-version="v1"><a class="badge-base__link LI-simple-link"
                href="https://in.linkedin.com/in/gsshanker3/en?trk=profile-badge">Gowri Shanker</a></div>
        </div>
</div>
    </mat-card-content>
    <mat-card-footer>
        <div class="d-flex justify-content-center align-items-center bg-light">
            <button class="theme-colors btn w-100" (click)="back('/')">Home</button>
        </div>
    </mat-card-footer>
</mat-card>

