.mt-minus-50 {
    margin-top: -50px;
}
.mt-minus-70 {
    margin-top: -70px;
}
.mt-20{
margin-top: 20rem !important;
}
.banner_section1 {
    /*margin-top: 70px;*/
    padding-top: 170px;
    padding-bottom: 250px;
    position: relative;
}
.eureka-section {
    background-color: rgb(0, 174, 239) !important;
    border-color: rgb(0, 174, 239) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://lh3.googleusercontent.com/bk6mV1cTgN8zsYzKh22kttbgG0iRDNMWXwXSMR2v-Vcj4IMSC0oHiKOaHlhFRVpPFVRVRe0I9P4ggy-oMUAh=w16) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}