<div class="container">
    <div class="row mt-3 ">
        <div class="col-12">
            <div class="container-fluid">
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>Invoice</mat-card-title>
    
                    </mat-card-header>
                    <mat-card-content class="h-100 mt-4">
    <div ngbAccordion #accordion="ngbAccordion">
        <div ngbAccordionItem="first">
            <h2 ngbAccordionHeader>
                <button class="d-flex justify-content-between align-items-center" ngbAccordionButton><span class="text-left font-weight-bold">Payments Created At:</span><span class="text-right">{{paymentdetails?.created_at | date: 'dd-MM-YYYY'}}</span></button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="row">
                         <div class="col-12 col-lg-6 col-md-12">
        
                                <h2 class="text-center font-weight-bold">Plan Name:</h2>
                                <h2 class="text-center font-weight-bold">Price:</h2>
                                <h2 class="text-center font-weight-bold">Payments ID:</h2>
        
                            </div>
                            <div class="col-12 col-lg-6 col-md-12">
                                <h2 class="text-left">{{paymentdetails?.plan_name | uppercase}}</h2>
                                <h2 class="text-left">{{paymentdetails?.cost}}</h2>
                                <h2 class="text-left">{{paymentdetails?.payments_id}}</h2>
                            </div>
                        </div>
                        <div class="mx-auto mt-4">
                            <button type="button" class="btn btn-secondary btn-lg btn-block"
                                (click)="invoiceGen('download')">
                                Download Invoice
                            </button>
                            <button type="button" class="btn btn-secondary btn-lg btn-block"
                                (click)="invoiceGen('print')">
                                Print Invoice
                            </button>
                            <button type="submit" class="btn btn-secondary btn-lg btn-block" (click)="invoiceGen('open')">
                                Open Invoice
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <!-- <div ngbAccordionItem="second">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Second panel</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        wolf moon
                        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                        Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim
                        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur
                        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably
                        haven't heard of them accusamus labore sustainable VHS.
                    </ng-template>
                </div>
            </div>
        </div> -->
    </div>

    


                    </mat-card-content>
    
                </mat-card>
            </div>
        </div>
    </div>
    </div>