<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items center">
            <img class="img-fluid img-responsive custom-D-404" alt="404" src="../../../assets/img/404.gif" />

        </div>
    </div>
    <div class="row">
        <h1 class="text-center mt-3"> <span class="wgt-900 s-65 text-center f-handlee mb-3">That's All We Know ...</span></h1>
        <a class="pointer btn mt-4" (click)="goBack()"><h2> <span class="wgt-900 s-40 text-center f-handlee">Return Back to Where you were</span></h2></a>
    </div>

</div>