


<div  class=" parallax-background w-100" >
<!-- style="margin-top: -50px;" -->
   
    <div class="content" style="padding: 50px;">
  <div class="container mt-5" >
    <div class="row text-white">
   <div class="d-flex justify-content-between">
    <img src="../../../../assets/logo/kaamresume_logo_800.png" style="height: 75px;">
    <div class="text-center text-white" style="font-size: large;">
        <a class="pointer text-white" routerLink="/faq">Kaamresume FAQ</a>
        &nbsp;&nbsp;&nbsp;
        <a class="pointer text-white" href="https://blog.kaamresume.net">Blog</a>
    </div>
   </div>     
    </div>
    <div class="row text-white mt-3 mb-3">
       <h1 class="wgt-900 s-65"> 
        <strong>
            Welcome, to the best AI resume builder among top AI resume builders
        </strong>
       </h1>
        <h2><span class="text-white h1"><strong>After trying resumes that denies you your competitive edge with ATS<br>
       Now, you can GENERATE multiple AI Resumes for less than a pack of cigarrette.
       </strong> </span></h2>
    </div>
    <div class="row text-white mt-3 mb-3">
        <button class="btn bg-white wgt-900 s-40" (click)="oauthPopup()">Signup! to Access your dream with AI Resume</button>
    </div>
  </div>  
   
    </div>

</div>



<div class="bg-dark1 w-100 p-4">

    <div class="d-flex justify-content-center"><img class="search-img" src="../../../../assets/img/search.png" /></div>
    <div class="mt-5 mb-5">
        <h1 class="wgt-700 s-40 text-white text-center">If You are Tired of ...</h1>
    </div>
    <div class="mt-5 mb-5">
        <div class="row text-white">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <p class="text-center">Not knowing which resume design works and not works</p>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center"><img src="../../../../assets/img/tick.png" /></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <p class="text-center">Copying Fancy Resume themes that doesn't get your screening calls.</p>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center"><img src="../../../../assets/img/tick.png" /></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <p class="text-center">Confusing on how to present your skills, experience that matters to both ATS
                        and HR's</p>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center"><img src="../../../../assets/img/tick.png" /></div>
                </div>
            </div>

        </div>
        <div class="mt-3">

            <div class="row text-white mt-3 mb-3">
                <h1 class="text-center wgt-900 s-90">+</h1>
            </div>

        </div>
        <div class="mt-1 mb-2">
            <h1 class="wgt-900 s-40 text-center text-white">
                <!-- <strong> -->
                Tired of scratching the floor on how to get out of the situation you are in ...
                <!-- </strong> -->
            </h1>
        </div>
    </div>

</div>
<div class="bg-white w-100 h-50 p-4">
    <div class="container">
        <div class="row mt-3 mb-3">
            <h2 class="f-handlee s-30 text-center"><span  class="f-handlee s-30 text-center"><strong><i class="f-handlee s-30 text-center">Then you have unrealized potential</i></strong></span></h2>
            <p class="text-black text-center">that</p>
            <h1 class="s-65 wgt-700 text-center text-black"><strong>KAAMRESUME</strong> can help realise</h1>
            <h5 class="text-black text-center">Stop searching for solutions that dont help and ask</h5>
        </div>
    </div>
</div>
<div class="eureka-section h-100 w-100 p-4 ">
    <div class="container p-10">
    <div class="d-flex justify-content-center mt-5 mb-3"><img class="search-img" src="../../../../assets/img/eureka.png" /></div>
      <span class="text-center p-6">  <h3 class="wgt-700 s-40 text-white">How Do i Solve ?</h3>
        <h1 class="wgt-900 s-65 mt-2 text-white">My Initial Screening Call Challenges...</h1>
        <h5 class="wgt-900 s-28 mt-2 text-white">Without Breaking a sweat</h5>
        <p class="text-white s-28 mt-4">Even if i have all the time...</p>
      </span>

</div>  
</div>
<div class="bg-white text-black w-100 h-100 p-4" >
<div class="container">
  
<div class="row">
<div class=" text-center">
    <p><strong>I remember the day I almost broke.</strong> I was thinking always on how to create the perfect resume and
        finally created one that I was proud of with fancy colors to be visually striking and fonts to point the strengths
        with my valuable education and other credentials. Then posted it in all job boards and sent a hundred emails to all
        HR’s I scavenged on LinkedIn . As weeks past I was anxious that my priced resume was working its magic but only
        there was no screening calls</p>
    <p><strong> All I was able to do was pray for that one screening call which I can convert.</strong> But only a few more
        weeks passed and no screening calls happened. so I asked around and created a bunch of fancy profiles in almost all
        places and again linked with All HR’s i scavenged on LinkedIn. Only to get part-time offers in messages or emails.</p>
    <h5><strong class="f-handlee s-28"> maybe you can relate…</strong></h5>
    <p> I finally broke And for a few days I stopped and compared my resume with other resumes of my friends who paid resume
        writing services to create their resumes. And found mine was better than what they have created.</p>
   <p> my family started asking </p><h5><strong class="f-handlee s-28">“you will be standing on your feet soon right?”</strong></h5>
    <p> Thankfully, I decided enough is enough and asked myself.</p>
    <h2><strong> How do I get the screening calls without me on designing and writing resumes? </strong></h2>
        <h2 class="wgt-900 s-40" style="line-height: 1;"> which resume design reduces my stress and let me help in preparing for interviews? </h2>
       <strong> Before we tell you the reasons for resumes and online profiles not getting the job here are a few myths that Hank
        bunked.</strong>

        <p><small class="mt-5">Not his real name ...</small></p>
</div>
</div>

</div>

</div>
<div class="bg-dark1 w-100 p-4">
    <div class="ml-4 mr-4">
<div class="row pt-4 mb-4">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <div class="myth-box1">
            <div class="d-flex justify-content-center align-items-center">
                
                <h2 class="text-center s-28 wgt-700">MYTH #1</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2"><h2 class="wgt-900 s-40 text-white ">TIME</h2></div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <p class="s-28 text-white lh-1"> 
            "I have time to create new resume designs, no need to spend on interview preparation."
        </p>
    </div>
</div>
<div class="row mt-3 mb-4">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <div class="myth-box2">
            <div class="d-flex justify-content-center align-items-center">

                <h2 class=" s-28 wgt-700">MYTH #2</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <h2 class="wgt-900 s-40 text-white ">BUDGET</h2>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <p class="s-28 text-white lh-1">
            "I don't have money to buy expensive AI builders. No, its just more or less equal to a cigarette pack."
        </p>
    </div>
</div>
<div class="row mt-3 mb-4">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <div class="myth-box1">
            <div class="d-flex justify-content-center align-items-center">

                <h2 class=" s-28 wgt-700">MYTH #3</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <h2 class="wgt-900 s-40 text-white ">NOBODY<br>CAN HELP</h2>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <p class="s-28 text-white lh-1">
            "Only i know my Education well no ai resume builder can help me."
        </p>
    </div>
</div>
<div class="row mt-3 mb-4">
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <div class="myth-box2">
            <div class="d-flex justify-content-center align-items-center">
                
                <h2 class=" s-28 wgt-700">MYTH #4</h2>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <h2 class="wgt-900 s-40 text-white ">TECH-SAVY</h2></div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mt-2 mb-2">
        <p class="s-28 text-white lh-1"> 
            "The HR's are tech savy to understand my online profile."
        </p>
    </div>
</div>
</div>
</div>
<div class="bg-white w-100 p-4 h-50">

<h2 class="f-handlee s-30 text-center mb-2"><strong><i class="f-handlee s-30 text-center">Can you relate ...</i></strong></h2>
<span>&nbsp;</span><br>
<span>&nbsp;</span><br>
<span>&nbsp;</span><br>
<!-- <span>&nbsp;</span><br>
<span>&nbsp;</span><br> -->
<span class="mx-auto mt-3 mb-5" style="font-size: 100px; left:44%; position: absolute;">😅</span>
</div>
<div class=" parallax-background" >


    <div class="content" style="padding: 50px;">
        <div class="container mt-5">
            <div class="row text-white">
                
                <h5 class="text-white text-center s-28">Introducing ...</h5>  
                
                    </div>    
            <div class="row text-white">
                <div class="d-flex justify-content-between">
                    <img src="../../../../assets/logo/kaamresume_logo_800.png" style="height: 75px;">
                    <!-- <div class="text-center text-white" style="font-size: large;">
                        <a class="pointer text-white" routerLink="/faq">Kaamresume FAQ</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="pointer text-white" href="https://blog.kaamresume.net">Blog</a>
                    </div> -->
                </div>
            </div>
            <div class="row text-white mt-3 mb-3">
                <h1 class="wgt-900 s-65">
                    <strong>
                       The Key to Coveted Screening Calls in Job Market
                    </strong>
                </h1>
                <h2><span class="text-white h1">
                    <strong>
                    With Less Worrying on Resume Design And more Time on Preparing
                    </strong> </span></h2>
            </div>
            <div class="row text-white mt-3 mb-3">
                <button class="btn bg-white wgt-900 s-40" (click)="isSmallScreen?goup() : oauthPopup()">{{isSmallScreen?'Scroll up to signup!':'Signup! to Access your dream with AI Resume'}}</button>
            </div>
        </div>

    </div>

</div>

<div class="bg-white w-100 p-4  h-75">
        <div class="d-flex justify-content-center">
            <img src="../../../../assets/logo/kaamresume_mobile_logo.png" class="search-img" />
        </div>
        <div class="mt-5 mb-5">
            <h4 class="wgt-700 s-40 text-black text-center lh-1">KAAMRESUME AI Resume Builder is</h4>
            <div class="row mt-4 mb-2">
                <p class="text-center">A cloud based AI Resume Builder without the fuss about Designing And ATS Recognizing Resume
                    Schemas.</p>
            </div>
            <div class="row mt-2 mb-4">
                <h3 class="text-center s-40"><strong>KAAMRESUME Is <u>Not</u> ....</strong></h3>
            </div>
        </div>
        <div class="mt-5 mb-5">
            <div class="row text-black">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                 
                    <div class="row ">
                        <p class="text-center">For people thinking that a grand profile is only needed for job market.</p>
                    </div>
                    <!-- <div class="row">
                        <div class="d-flex justify-content-center"><img src="../../../../assets/img/tick.png" /></div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <p class="text-center">For people thinking AI resume builders is a waste of money and time.</p>
                    </div>
                    <!-- <div class="row">
                        <div class="d-flex justify-content-center"><img src="../../../../assets/img/tick.png" /></div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <p class="text-center">For people thinking screening calls will come if i design a fancier Resume.</p>
                    </div>
                    <!-- <div class="row">
                        <div class="d-flex justify-content-center"><img src="../../../../assets/img/tick.png" /></div>
                    </div> -->
                </div>
        
            </div>
          
        </div>

</div>
<div class="bg-dark1 w-100 p-4 mt-minus-25 h-40">
<div class="container">
    <div class="row mt-5">
        <h1 class="wgt-900 s-65 text-white text-center">ONLY FEW JOBS ARE LEFT IN THE JOB MARKET...</h1>
    </div>
</div>
</div>
<div class="bg-white w-100 p-4 mt-minus-25 h-100">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row mt-3">
                    <h3 class="s-28 wgt-700 text-black text-center mb-4">How will AI Resume Help My Job ?</h3>
                    <p class="text-black text-center mb-4">
                        Kaamresume's resume template designs were created with the help of feedback from elite job coaches's. Whose experience in beating ATS scores in competition<strong> will get you the screening calls</strong>
                    </p>
                </div>
                <div class="row mt-3">
                    <h3 class="s-28 wgt-700 text-black text-center mb-4">Why is my Resume having low scores ?</h3>
                    <p class="text-black text-center mb-4">
                    <strong> It is not your fault,</strong> the ATS algorithms doesn't just scan text it looks in a schematic way. One time your
                        resume will have better scores but when looked second time it will give another one. So, Kaamresume uses
                        schema's to create your AI resume to get a consistent <strong>score above 80 </strong>which is going to help you beat the
                        competition to get your screening calls. Rest is your Effort.
                    </p>
                </div>
                            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="row mt-3">
                <h3 class="s-28 wgt-700 text-black text-center mb-4">Will Kaamresume's AI Resume help me?</h3>
                <p class="text-black text-center mb-4">
                    Yes, definitely Our AI technology not only <strong>puts the right keywords</strong> in experience but<strong> the design is easy to scan</strong>
                    for the HR's to grasp the gist of your skills.
                </p>
            </div>

                <div class="row mt-3">
                    <h3 class="s-28 wgt-700 text-black text-center mb-4">How to get started ?</h3>
                    <p class="text-black text-center mb-4">
                    <strong> Signup is free.</strong> After hitting dashboard upgrade your account with a package that starts lesser than a pack of cigerretes or a few can of sodas. The price is in Indian rupee but if you google for current price of your nation you'll know <strong>all you have to do is just cut a few sodas or a pack of cigerette for a day.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="eureka-section h-100 w-100 p-4">
    <div class="">
    
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="d-flex justify-content-center">
                    <img src="../../../../assets/avatar/gowri_shankar.png" style="height: 500px;" />
                   
                </div>
                <br>
                <h3 class="wgt-700 text-white text-center mt-2 f-handlee">Gowri Shankar</h3>
                <h3 class="wgt-700 text-white text-center" style="margin-top: -20px;"><a class="f-handlee text-white" href="https://linkedin.com/in/gsshanker3" target="_blank">More About me</a></h3>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <h3 class="wgt-700 text-white text-center">A little About Me...</h3>
                <div class="text-center text-white">
                    <p class="s-28 wgt-700 lh-1">
                       I'm a Geek who wants to give back to the community. I Started a social network called myexpresspad in 2015. And started a career as Angular Developer later. During a college alumni trip I was asked help to get in to Tech-Industry by my juniors. So I helped 100's of them all get in to it from non-technical background.
                    </p>
                    <p class="s-28 wgt-700 lh-1">
                        When the requests got so huge I decided to create KAAMRESUME for all to get in to their dream jobs. I got a Tech-Industry job from non-technical background. 
                    </p>
                    <p class="s-28 wgt-700 lh-1">
                        Now, You can too get in to your dream industry job to which i have committed myself to.
                    </p>
                </div>
            </div>
        </div>
    
    </div>
        </div>
<div class="bg-white w-100 h-100 p-4">
    <div class="container">
        <div class="row mt-5">
        <h1 class="wgt-900 s-64 text-center text-black">WANT MORE OF YOUR TIME FOR PREPARATIONS ?</h1> 
        </div>
        <div class="row mt-2">
            <h2 class="wgt-900 s-40 text-center text-black">WE CAN HELP...</h2>
        </div>
        <div class="row mt-2">
            <p class="s-28 text-center text-black">Want an AI resume from best AI resume builder among the top AI resume builders</p>
        </div>
            <div class="text-white mt-3 mb-3 d-flex justify-content-center">
                <button class="btn bg-dark1 wgt-900 s-40 text-white" (click)="isSmallScreen?goup() : oauthPopup()">{{isSmallScreen?'Scroll up to signup!':'Signup! for free upgrade when decided.'}}</button>
                
            </div>
            </div>
</div>

<div class="bg-dark1 w-100 p-4 mt-minus-25 h-100">
    <div class="container">
        <div class="row mt-5">
            <h1 class="wgt-900 s-65 text-white text-center mb-3">Are you a job seeker ?</h1>
            <p class="text-white text-center s-28 lh-1">
                We know that you want to create your own resume designs and beat the competition.
                But we wish it was that simple.
                We would love you to focus more time on interview preparations and worry less about resume designs.
                And if you want to leave that to us then signup and we'll see you on the inside.
            </p>
            <h2 class="text-white text-center s-40" style="font-weight: 500">Good Luck! with your Job Search.</h2>
        </div>
        <div class="text-center text-white mt-10">
        
            <div class="copy_text">
                <p class="text-white text-center">© Copyrights 2024. All rights reserved.</p>
            </div>
            <ul class="text-white d-flex justify-content-around mt-5">
               <li ><a class="d-inline-block text-center ml-2 cursor text-white" (click)="openpopup('privacy')">Privacy Policy</a></li> |  
                <li><a href="https://www.linkedin.com/in/gsshanker3" target="_top" class="d-inline-block text-center ml-2 cursor text-white">About
                        Me</a></li> | 
                <li><a class="text-white" href="https://www.iubenda.com/privacy-policy/87636734/cookie-policy" target="_blank"> Cookie Policy</a> 
                </li> | 
                <li><a (click)="openpopup('terms')" class="d-inline-block text-center ml-2 cursor text-white">Terms And conditions</a></li> | 
                <li><a (click)="openpopup('refunds')" class="d-inline-block text-center ml-2 cursor text-white">Cancellation Policy</a>
                </li> | 
                <li><a (click)="openpopup('resumeatschecker')" class="d-inline-block text-center ml-2 cursor text-white">Resume ATS scanner</a> 
                </li> | 
                <li><a (click)="openpopup('tools-resumeatschecker')" class="d-inline-block text-center ml-2 cursor text-white">Freemium tools</a>
                </li> | 
                <li><a (click)="openpopup('faq')" class="d-inline-block text-center ml-2 cursor text-white">FAQ</a>
                </li> | 
                <li><a (click)="openpopup('contact')" class="d-inline-block text-center ml-2 cursor text-white">Contact</a>
                </li>
             </ul>
        
        </div>
    </div>
</div>