<div class="container">

<div class=row>
    <div class="col-12 col-lg-4 col-md-12 col-sm-12">
        <div class="m-3 border-1">
            <h4>Engineer</h4>
            <span class="p-2">
                <img class="img-responsive img-fluid " src="../../../../assets/res-images/images/engineering.png" />
            </span>
            <div class="align-items-center p-4">
                <button mat-raised-button color="success" (click)="chosenTheme('engineering')">View Engineer's
                    Theme</button>
                <h4 class="text-left">(Ideal for freshers)</h4>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-md-12 col-sm-12">
        <div class="m-3 border-1">
            <h4>Coders</h4>
            <span class="p-2">
                <img class="img-responsive img-fluid"
                    src="../../../../assets/res-images/images/hackmyresume/resume-codecobra.png" />
            </span>
            <div class="align-items-center p-4">
                <button mat-raised-button color="success" (click)="chosenTheme('latte')">View coders Theme</button>
                <h4 class="text-left">(Ideal for freshers)</h4>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-md-12 col-sm-12">
        <div class="m-3 border-1">
            <h4>All Timers</h4>
            <span class="p-2">
                <img class="img-responsive img-fluid " src="../../../../assets/res-images/images/direct.png" />
            </span>
            <div class="align-items-center p-4">
                <button mat-raised-button color="success" color="success" (click)="chosenTheme('direct')">View All
                    Timers Theme</button>
            </div>
        </div>
    </div>

</div>
<div class=row>
    <!-- <div class="col-12 col-lg-4 col-md-12 col-sm-12">
        <div class="m-3 border-1">
            <h4>Moosy</h4>
            <span class="p-2">
                <img class="img-responsive img-fluid" src="../../../../assets/res-images/images/hackmyresume/resume-mooser.png" />
            </span>
            <div class="align-items-center p-4">
                <button mat-raised-button color="success" (click)="chosenTheme('mooser')">View Moosy Theme</button>
            </div>
        </div>
    </div> -->
    <div class="col-12 col-lg-4 col-md-12 col-sm-12">
        <div class="m-3 border-1">
            <h4>Contempt</h4>
            <span class="p-2">
                <img class="img-responsive img-fluid" src="../../../../assets/res-images/images/contempo.png" />
            </span>
            <div class="align-items-center p-4">
                <button mat-raised-button color="success" (click)="chosenTheme('contempo')">View Contempt
                    Theme</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-md-12 col-sm-12">
        <div class="m-3 border-1">
            <h4>Roman Prime</h4>
            <span class="p-2">
                <img class="img-responsive img-fluid" src="../../../../assets/res-images/images/austinmcconnell.PNG" />
            </span>
            <div class="align-items-center p-4">
                <button mat-raised-button color="success" color="success" (click)="chosenTheme('austinmcconnell')">I
                    want Roman Prime Theme </button>
            </div>
        </div>
    </div>

</div>
</div>
