<span class="container"><app-header></app-header></span>
<div class="bg-dark1 text-white w-100  banner_section1">
   
    <div class="container">
        <div class="row ">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 hide-mobile">
                <div class="h-50 mt-85 ">
                    <img class="img-fluid" src="../../../../assets/img/contactus.png" alt="contactus">
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 ">
            <div class="white_text b-white mt-85">
            
                <div id="contact" class="container my-5">
                    <div class="row justify-content-between">
                        <div class=" text-white s-28 wgt-700 lh-2">
                            <h2 class="s-40 wgt-900 text-white contact">Contact Us</h2>
                           
                           
                            <ul class="list-unstyled">
                                <li>Legal name: THEGRILLSDEPOT</li>
                                <li>Email : support&#64;kaamresume.com</li>
                                <!-- <li>Phone : 361-688-5824</li> -->
                                <li>Address : 1ST FLOOR, 540/18, NEW NO 33, 2ND B CROSS, 2ST MAIN, ANNAIAH
                                    REDDY LAYOUT, NEAR BUSINESSHUT, BENGALURU, BENGALURU URBAN, KARNATAKA,
                                    560043, BANGALORE NORTH, Karnataka, PIN: 560043</li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
             
            </div>
            </div>

        </div>
        </div>
<div class="mt-minus-50">
    <app-footer></app-footer>
</div>
